body {
  margin: 0;
  padding: 0;
  /* font-family: Verdana, Geneva, Tahoma, sans-serif; */
  /* font-size: 12px; */
  background-color: aliceblue;
}

.card-margin {
  margin: 10px;
  border-radius: .5rem;
}

.transparent-bg {
  background-color: transparent
}